body{
  background-image:url("tomjhinton.github.io/background.gif");
  height: 120em;
}

h1.title{
  font-family: "Helvetica";
  color: rgba(205, 0, 0, 0.5);
  font-size: 6em;
  padding-left: 1em;
  padding-top: 1em;
}

.column{
 color: rgba(0, 0, 205, 0.5);
 font-size: 3em;
}
